{% extends 'layouts/base.html' %}
{% load static %}
{% block 'main' %}

<!-- start home -->
<div id="home" class="section"style="background-image: url({% static 'images/home-bg.jpg' %});">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
				<h1>Professeur MONNEHAN</h1>
				<h2 class="rotate">Directeur général de l'ARSN &AMP; ,Professeur titulaire de Physique nucléaire</h2>
				<p class="citation">“La science peut mener à la découverte de l'énergie atomique mais elle ne peut pas nous préserver d'une catastrophe nucléaire.”</p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<!-- end home -->

<!-- start work -->
<div id="work" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow bounce">
				<h2 style="color: #630929;">CE QUE JE FAIS</h2>
			</div>
        </div>    
                
        <div class="row">
			<div class="col-xs-6 wow fadeInUp" data-wow-delay="0.6s">
				<div class="media">
					<div class="media-object media-left">
						<i class="fas fa-sitemap"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading" style="color: #630929;">	Directeur Général de l'ARSN</h3>
						<p>Un directeur est une personne qui dirige une entreprise, une organisation ou une institution, gouvernementale ou non (ou a une part dans leur direction). Le directeur est le plus souvent salarié, contrairement au président qui est plutôt mandataire social. Directeur était aussi en France, entre 1795 et 1799, le titre porté par les cinq membres du Directoire, détenteurs de pouvoir exécutif.</p>
					</div>
				</div>
			</div>
                    
			<div class="col-xs-6 wow fadeInUp" data-wow-delay="0.6s"></div>
				<div class="media">
					<div class="media-object media-left">
						<i class="fas fa-chalkboard-teacher"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading" style="color: #630929;">Professeur titulaire en Physique nucléaire</h3>
						<p>Un enseignant est une personne chargée de transmettre des connaissances ou méthodes de raisonnement à autrui dans le cadre d'une formation générale ou d'une formation spécifique à une matière, un domaine ou une discipline scolaire. Le terme « enseignant » désigne la personne qui enseigne aux élèves (en primaire et secondaire). Le terme « professeur » désigne dans l'enseignement supérieur le grade le plus élevé d'enseignement, dans une hiérarchie comprenant les stades successifs d'assistant, maître-assistant et maître de conférences2 (au cégep et à l'université).</p>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
<!-- end work -->

<!-- start about -->
<div id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInLeft" data-wow-delay="0.9s">
				<div class="text-center">
					<h2 style="color: #630929;">LES DETAILS DE MES INFORMATIONS PERSONNELLES</h2>
				</div>
				<div style="display: flex;">
					<div class="col-xs-6">
						<h4 style="color: #630929;">Directeur Général de l'ARSN</h4>
						<p>Doctorat de l'Universite Louis Pasteur, Strasbourg,</p>
						<p> France.Physique Nucleaire : Reactions nucleaires entre ions lourds legers. 1987 - Present PGEC : Post-Graduate Educational Course IAEA Rabat (Morocco) 05 october to 10 december 1998. Enseignant-chercheur de Physique Nucléaire à l'Université FHB depuis 1987 Enseignant-chercheur en Radioprotection depuis 2000 Expert en Radioprotection depuis 2000 Spécialiste en Sûreté et Sécurité radiologiques et nucléaires</p>
					</div>
						
					<div class="col-xs-6">
						<h4 style="color: #630929;">Professeur titulaire en Physique nucléaire</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end about -->

<!-- start portfolio -->
<div id="portfolio" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounce" style="color: #630929;">MA GALLERIE</h2>
			</div>
			<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
				<div class="portfolio-thumb">
					<img src="{% static 'images/th.jpg' %}" class="img-responsive" alt="portfolio img">
					<div class="portfolio-overlay">
						<h4>Physique Nucléaire</h4>
						<h5>Pr.Monnehan</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
				<div class="portfolio-thumb">
					<img src="{% static 'images/Prof_Monnehan.jpg' %}" class="img-responsive" alt="portfolio img">
					<div class="portfolio-overlay">
						<h4>Pr_Monnehan</h4>
						<h5>AuthorPr.Monnehan</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
				<div class="portfolio-thumb">
					<img src="{% static 'images/Prof_Monnehan.jpg' %}" class="img-responsive" alt="portfolio img">
					<div class="portfolio-overlay">
						<h4>Monnehan</h4>
						<h5>Pr.Monnehan</h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
				<div class="portfolio-thumb">
					<img src="{% static 'images/téléchargement.jpeg' %}" class="img-responsive" alt="portfolio img">
					<div class="portfolio-overlay">
						<h4>Monnehan</h4>
						<h5>Pr.Monnehan</h5>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
				<div class="portfolio-thumb">
					<img src="{% static 'images/th.jpg' %}" class="img-responsive" alt="portfolio img">
					<div class="portfolio-overlay">
						<h4>Monnehan</h4>
						<h5>Pr.Monnehan</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end portfolio -->

<!-- start contact -->
<div id="contact" class="section" style="padding-left: 30px;  padding-right: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				<address>
					<p class="contact-title" style="color: #630929;">MES CONTACTS</p>
					<p><i class="fa fa-phone"></i> (+225) 07 07 69 62 34</p>
					<p><i class="fa fa-envelope"></i> Monnehan_alain@yahoo.fr</p>
					<p><i class="fa fa-map-marker"></i> Rue 547, cocody Abidjan</p>
				</address>
			</div>
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s" >
				<form role="form" method="post" action="#">
				 {% csrf_token %}
					<input name="name" type="text" class="form-control" id="name" placeholder="Votre Nom"    v-model='name'>
					<input name="email" type="email" class="form-control" id="email" placeholder="Votre Email"    v-model='email'>
					<textarea name="message" rows="5" class="form-control" id="message" placeholder="Votre Message"    v-model='message'></textarea>
					<input name="send" type="submit" class="form-control" id="form-submit" value="ENVOYER">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end contact -->
<div class="text-center">
	<a href="{% url 'curriculum:skills' %}">Mes Compétences</a>
</div>
<div class="text-center">
	<a href="{% url 'authentication:registration' %}">Inscription</a>
</div>
<div class="text-center">
	<a href="{% url 'authentication:login' %}">Login</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script type="text/javascript">
        $(document).ready(function() {

            // navigation click actions 
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');         
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
    </script>

    <script>
      new Vue(
        {
          el:'#contact',
          data:{
            name:'',
            email:'',
            message:'',
            url:"{% url 'checkup' %}"
          },
          methods:{
            postData(){
              if (this.name === '' || this.email === '' || this.message === ''){
                swal.fire({
                  icon:'error',
                  text:'Veuillez remplir les champs vides',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else if (!/[A-Za-z'éèöïäëû ]+/.test(this.name)){
                swal.fire({
                  icon:'error',
                  text:'Veuillez saisir un nom valide',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                swal.fire({
                  icon:'error',
                  text:'Veuillez saisir un email valide',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else{
                axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                axios.defaults.xsrfCookieName = 'csrftoken'
                
                let form = new FormData()

                form.append('name', this.name)
                form.append('email', this.email)
                form.append('message', this.message)
                
                axios.post(this.url, form).then((response) => {
                  if (response.data.success){
                    swal.fire({
                      icon:'success',
                      text:response.data.text,
                      showConfirmButton:false,
                      timer:2000,
                    }).then(()=>{
                      window.location.reload()
                    })
                  }
                  else {
                    swal.fire({
                      icon:'error',
                      text:response.data.text,
                      showConfirmButton:false,
                      timer:2000,
                    })
                  }
                }).catch((e) => {
                  console.log(e)
                })
                
              }
            }
          },
          delimiters: ['%{', '}']
        }
      )
    </script>



{% endblock %}