{% extends 'layouts/base.html' %}
{% load static %}
{% block 'main' %}

<!-- start home -->
<div id="home" class="section"style="background-image: url({{banner.photo.url}});">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
				<h1>{{banner.nom}}</h1>
				<h2 class="rotate">{{banner.profession_un}} &AMP; ,{{banner.profession_deux}}</h2>
				<p class="citation">{{banner.citation}}</p>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
<!-- end home -->

<!-- start work -->
<div id="work" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 wow bounce">
				<h2 style="color: #630929;">CE QUE JE FAIS</h2>
			</div>
        </div>    
                
        <div class="row">
            {% for service in abouts  %}

				<div class="col-xs-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="media">
						<div class="media-object media-left">
							<i class="{{service.icone}}"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading" style="color: #630929;">	{{service.profession}}</h3>
							<p>{{service.description}}</p>
						</div>
					</div>
				</div>
						
							<i class="fas fa-chalkboard-teacher"></i>

		
            {% endfor %}

		</div>
	</div>
</div>
<!-- end work -->

<!-- start about -->
<div id="about" class="section">
	<div class="container">
		<div class="row">
			<div class="wow fadeInLeft" data-wow-delay="0.9s">
				<div class="text-center">
					<h2 style="color: #630929;">LES DETAILS DE MES INFORMATIONS PERSONNELLES</h2>
				</div>
				<div style="display: flex;">
					<div class="col-xs-6">
						<h4 style="color: #630929;">Directeur Général de l'ARSN</h4>
						<p>Doctorat de l'Universite Louis Pasteur, Strasbourg,</p>
						<p> France.Physique Nucleaire : Reactions nucleaires entre ions lourds legers. 1987 - Present PGEC : Post-Graduate Educational Course IAEA Rabat (Morocco) 05 october to 10 december 1998. Enseignant-chercheur de Physique Nucléaire à l'Université FHB depuis 1987 Enseignant-chercheur en Radioprotection depuis 2000 Expert en Radioprotection depuis 2000 Spécialiste en Sûreté et Sécurité radiologiques et nucléaires</p>
					</div>
						
					<div class="col-xs-6">
						<h4 style="color: #630929;">Professeur titulaire en Physique nucléaire</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end about -->

<!-- start portfolio -->
<div id="portfolio" class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounce" style="color: #630929;">MA GALLERIE</h2>
			</div>
			
			<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
				<div class="portfolio-thumb">
					<img src="{{gallerie.photo.url}}" class="img-responsive" alt="portfolio img">
					<div class="portfolio-overlay">
						<h4>{{gallerie.nom}}</h4>
						<h5>{{gallerie.description}}</h5>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- end portfolio -->

<!-- start contact -->
<div id="contact" class="section" style="padding-left: 30px;  padding-right: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				<address>
					<p class="contact-title" style="color: #630929;">MES CONTACTS</p>
					<p><i class="fa fa-phone"></i> (+225) 07 07 69 62 34</p>
					<p><i class="fa fa-envelope"></i> Monnehan_alain@yahoo.fr</p>
					<p><i class="fa fa-map-marker"></i> Rue 547, cocody Abidjan</p>
				</address>
			</div>
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s" >
				<form role="form" action="" method="POST">
					<input name="name" type="text" class="form-control" id="name" placeholder="Votre Nom" required />
					<input name="email" type="email" class="form-control" id="email" placeholder="Votre Email" required />
					<textarea name="message" rows="5" class="form-control" id="message" placeholder="Votre Message" required=></textarea>
					<input name="send" type="submit" class="form-control" id="send" value="ENVOYER">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end contact -->
<div class="text-center">
	<a href="{% url 'curriculum:skills' %}">Mes Compétences</a>
</div>
<div class="text-center">
	<a href="{% url 'authentication:registration' %}">Inscription</a>
</div>
<div class="text-center">
	<a href="{% url 'authentication:login' %}">Login</a>
</div>
{% endblock %}