{% extends 'layouts/base.html' %}
{% load static %}
{% block 'banner' %}{% endblock %}
{% block 'main' %}
<div class="container-fluid text-center" style="background: #ebeff1;">
    <div class="col-md-1" style="word-wrap : break-word;"></div>
    <div class="col-md-10" style="padding: 30px;/*border: 1px solid red; */background: #FFFFFF; margin-top: 20px;">
        <div style="color: #3F3F3F; text-transform: uppercase; font-size: 2.5rem; margin: 20px 0;">Monnehan Georges Alain</div>
        <div style="max-height: 500px; width: 100%; background: #ebeff1;">
            <img src="{% static 'images/home-bg.jpg' %}" style="max-height: 300px; max-width: 100%; height: auto;">
        </div>
        <div style="color: #3F3F3F; text-transform: uppercase; font-size: 2rem; margin: 20px 0;">Expériences</div>
        <hr>
        <div style="text-align: left;">
            <h4 style="color: #3F3F3F;">Directeur général de l'ARSN</h4>
            <span>Je viens de m'apercevoir d'un petit problème. En fait je fais un menu (qui est définie par une DIV) qui se situe sur la gauche avec une taille définie.
                Ensuite j'ai voulu faire un petit test : quand je tape une phrase, celle-ci sort de la DIV.
                Je me demande donc s'il y a une erreur dans mon code ou si j'ai oublié quelque chose.
                Je vous remercie d'avance et ci certaines propriétés du CSS vous semble bizarre, n’hésitai pas à me le signaler</span>
        </div>
        <hr>
        <div style="text-align: left;">
            <h4 style="color: #3F3F3F;">Directeur général de l'ARSN</h4>
            <span>Je viens de m'apercevoir d'un petit problème. En fait je fais un menu (qui est définie par une DIV) qui se situe sur la gauche avec une taille définie.
                Ensuite j'ai voulu faire un petit test : quand je tape une phrase, celle-ci sort de la DIV.
                Je me demande donc s'il y a une erreur dans mon code ou si j'ai oublié quelque chose.
                Je vous remercie d'avance et ci certaines propriétés du CSS vous semble bizarre, n’hésitai pas à me le signaler</span>
        </div>
        <hr>
        <div style="text-align: left;">
            <h4 style="color: #3F3F3F;">Directeur général de l'ARSN</h4>
            <span>Je viens de m'apercevoir d'un petit problème. En fait je fais un menu (qui est définie par une DIV) qui se situe sur la gauche avec une taille définie.
                Ensuite j'ai voulu faire un petit test : quand je tape une phrase, celle-ci sort de la DIV.
                Je me demande donc s'il y a une erreur dans mon code ou si j'ai oublié quelque chose.
                Je vous remercie d'avance et ci certaines propriétés du CSS vous semble bizarre, n’hésitai pas à me le signaler</span>
        </div>
        <hr>
        <div style="text-align: left;">
            <h4 style="color: #3F3F3F;">Directeur général de l'ARSN</h4>
            <span>Je viens de m'apercevoir d'un petit problème. En fait je fais un menu (qui est définie par une DIV) qui se situe sur la gauche avec une taille définie.
                Ensuite j'ai voulu faire un petit test : quand je tape une phrase, celle-ci sort de la DIV.
                Je me demande donc s'il y a une erreur dans mon code ou si j'ai oublié quelque chose.
                Je vous remercie d'avance et ci certaines propriétés du CSS vous semble bizarre, n’hésitai pas à me le signaler</span>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}