{% extends 'layouts/base.html' %}
{% load static %}
{% block 'banner' %}{% endblock %}
{% block 'main' %}

<div class="parallax-window"></div>

<!-- Start presentation -->
<div id="presentation-container" class="container-fluid">
	<section id="presentation" class="container">
		<div class="col-md-6 photo">
			<img src="{% static 'images/photo-home.webp' %}" style="max-height: 100%; max-width: 100%; height: auto;">
		</div>
		<div class="col-md-6 titre">
			<div class="md-none" style="margin-bottom: 100px;">
				<h1 style="color: #D43F52; font-weight: bold; font-size: 5rem;" class=" wow fadeInUp" data-wow-delay="0.6s">Professeur Monnehan</h1>
				<h4 style="color: #FFF; font-size: 2.4rem; font-weight: normal;" class=" wow fadeInUp" data-wow-delay="0.9s">Professeur titulaire de Physique nucléaire</h4>
			</div>
			<p class="md-margin wow fadeInUp" style="font-size: 1.8rem;" data-wow-delay="1.5s">Un kaon est une particule (notée K) de la famille des mésons caractérisée par un nombre quantique appelé étrangeté et noté S. Les mésons étant constitués d'un nombre pair de quarks et d'antiquarks, les kaons contiennent un quark s ou un antiquark s combiné avec un quark/antiquark parmi u ou d (resp. u ou d).</p>
			<div style="width: 100%; text-align: center;">
				<a href="#" class="skills-link">Mes compétences</a>
			</div>
		</div>
	</section>
</div>
<!-- End presentation -->

<!-- Start researches -->
<div class="container-fluid colored-band">
	<section id="researches" class="container">
		<div class="col-md-6">
			<h1 class="titre-rubrique">Champs de recherche</h1>
		</div>
		<div class="col-md-6">
			<p class="res-p">
				Un kaon est une particule (notée K) de la famille des mésons caractérisée par un nombre quantique appelé étrangeté et noté S. Les mésons étant constitués d'un nombre pair de quarks et d'antiquarks, les kaons contiennent un quark s ou un antiquark s combiné avec un quark/antiquark parmi u ou d (resp. u ou d).
			</p>
			<p class="res-p">
				Un kaon est une particule (notée K) de la famille des mésons caractérisée par un nombre quantique appelé étrangeté et noté S. Les mésons étant constitués d'un nombre pair de quarks et d'antiquarks, les kaons contiennent un quark s ou un antiquark s combiné avec un quark/antiquark parmi u ou d (resp. u ou d).
			</p>
			<p class="res-p">
				Un kaon est une particule (notée K) de la famille des mésons caractérisée par un nombre quantique appelé étrangeté et noté S. Les mésons étant constitués d'un nombre pair de quarks et d'antiquarks, les kaons contiennent un quark s ou un antiquark s combiné avec un quark/antiquark parmi u ou d (resp. u ou d).
			</p>
			<div style="width: 100%; text-align: center;">
				<a href="#" class="text-primary light-300 skills-link">Voir plus ...</a>
			</div>
		</div>
	</section>
</div>
<!-- End researches -->

<!-- Start publication -->
<div class="container-fluid">
	<section id="publications" class="container">
		<div class="col-md-6">
			<h1 class="titre-rubrique wow fadeInUp" data-wow-delay="0.6s">Publications</h1>
		</div>
		<div class="col-md-8">
			<div class="paper">
				<a href="https://academicjournals.org/journal/JMPR/article-abstract/149138063459">
					<h4 style="color: #6a6a6a;">Elemental contents of some medicinal plants using energy dispersive x-ray fluorescence (EDXRF)</h4>
				</a>
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Auteurs : </span> Alfred Djoman Djama AGBO, Aka Joseph N'GOUAN, Georges Alain MONNEHAN</p>
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Abstract : </span> The presence of some elements in ten plants with anti-microbial potency was analysed using x-ray fluorescence technique. The results showed there were nineteen elements in these plants. They all contain Pb, a toxic heavy metal, except one that contains As.  K, S, Ca, Fe, Zn, Cu, Co, Ni, Mn and Se elements were identified and their anti-microbial properties were discussed.</p>
			</div>
			<hr>
			<div>
				<a href="https://asmedigitalcollection.asme.org/nuclearengineering/article-abstract/7/1/014502/1074340/Assessment-of-the-External-and-Internal-Exposure?redirectedFrom=fulltext">
					<h4 style="color: #6a6a6a;">Assessment of the External and Internal Exposure Risk Index and the Annual Gonadals Equivalent Dose Due to Cement in Côte D'Ivoire</h4>
				</a>
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Auteurs : </span> Monnehan G. Alain, Gogon B. D. L. Huberson, Braffo Ayo Florentin, Koua A. Antonin, Kouakou Omer</p>
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Abstract : </span> Cement is the most used material in bulding activities in Côte d'Ivoire. Thus, most of the radiation exposure from the building materials is due to the cement. This work is part of radiation protection logic and therefore to assess the level of exposure due to the cement used in Côte d'Ivoire. </p>
			</div>
			<hr>
			<div>
				<a href="https://www.scirp.org/journal/paperinformation.aspx?paperid=94908">
					<h4 style="color: #6a6a6a;">Diagnostic Reference Level in Frontal Chest X-Ray in Western Côte d’Ivoire</h4>
				</a>
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Auteurs : </span> Issa Konate, George A. Monnehan, Douo B. L. H. Gogon, Tekpo P. A. Dali, Aka A. Koua, Koudou Djagouri</p>
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Abstract : </span> Our study aims to determine diagnostic reference levels (DRL) for chest front examination in postero anterior (PA) for optimizing patient entrance surface dose (ESD) and dose-area product (DAP) of patients in west of Côte d’Ivoire. 90 patients from three hospitals undergoing conventional radiology were considered. The ESD and DAP for each patient were obtained during chest radiography (PA) examination. The measurements were performed with the device call Dose-Area Product-meter (DAP-meter) with brand Diamentor M4-KDK, type 11017. The DRL were obtained in applying the 75th percentile statistical method to the obtained ESD and DAP.</p>
			</div>
			<div style="width: 100%; text-align: center;" data-wow-delay="0.9s">
				<a href="#" class="skills-link">Voir plus ...</a>
			</div>
			<div style="width: 100%; text-align: center;" data-wow-delay="0.9s">
				<a href="#" class="skills-link">Voir plus ...</a>
			</div>
		</div>
	</section>
</div>
<!-- End publication -->

<!-- start contact -->
<div id="contact" class="colored-band" style="padding-left: 30px;  padding-right: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				<address>
					<p class="contact-title" style="color: #630929;">MES CONTACTS</p>
					<p><i class="fa fa-phone"></i> (+225) 07 07 69 62 34</p>
					<p><i class="fa fa-envelope"></i> Monnehan_alain@yahoo.fr</p>
					<p><i class="fa fa-map-marker"></i> Rue 547, cocody Abidjan</p>
				</address>
			</div>
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s" >
				<form role="form" method="post" action="#">
					<input name="name" type="text" class="form-control" id="name" placeholder="Votre Nom">
					<input name="email" type="email" class="form-control" id="email" placeholder="Votre Email">
					<textarea name="message" rows="5" class="form-control" id="message" placeholder="Votre Message"></textarea>
					<input name="send" type="submit" class="form-control" id="send" value="ENVOYER">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end contact -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript">
	$('.parallax-window').parallax({imageSrc: "{%static 'images/banner.jpg' %}"});
</script>
{% endblock %}