{% extends 'layouts/base.html' %}
{% load static %}
{% block 'banner' %}{% endblock %}
{% block 'main' %}

<div class="parallax-window"></div>

<!-- Start presentation -->
<div id="presentation-container" class="container-fluid">
	<section id="presentation" class="container">
		<div class="col-md-6 photo">
			<img src="{% static 'images/photo-home.webp' %}" style="max-height: 100%; max-width: 100%; height: auto;">
		</div>
		<div class="col-md-6 titre">
			<div class="md-none" style="margin-bottom: 100px;">
				<h1 style="font-weight: bold; font-size: 5rem;" class=" wow fadeInUp" data-wow-delay="0.6s">Professeur Monnehan</h1>
				<h4 style="color: #FFF; font-size: 2.4rem; font-weight: normal;" class=" wow fadeInUp" data-wow-delay="0.9s">Professeur titulaire de Physique nucléaire</h4>
			</div>
			<p class="md-margin wow fadeInUp" style="font-size: 1.8rem;" data-wow-delay="1.5s">Un kaon est une particule (notée K) de la famille des mésons caractérisée par un nombre quantique appelé étrangeté et noté S. Les mésons étant constitués d'un nombre pair de quarks et d'antiquarks, les kaons contiennent un quark s ou un antiquark s combiné avec un quark/antiquark parmi u ou d (resp. u ou d).</p>
			<div style="color: #D43F52; width: 100%; text-align: center;">
				<a href="{% url 'curriculum:skills' %}" class="skills-link">Mes compétences</a>
			</div>
		</div>
	</section>
</div>
<!-- End presentation -->

<!-- Start researches -->
<div class="container-fluid colored-band">
	<section id="researches" class="container">
		<div class="col-md-4">
			<h1 class="titre-rubrique">Champs de recherche</h1>
		</div>
		<div class="col-md-8">
			{% for research in researches %}
				<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">{{ research.domaine }} : </span> {{ research.competence }}</p>
				{% if not forloop.last %}<hr>{% endif %}
			{% endfor %}
			<div style="width: 100%; text-align: center;">
				<a href="#" class="text-primary light-300 skills-link">Voir plus ...</a>
			</div>
		</div>
	</section>
</div>
<!-- End researches -->

<!-- Start publication -->
<div class="container-fluid">
	<section id="publications" class="container">
		<div class="col-md-4">
			<h1 class="titre-rubrique wow fadeInUp" data-wow-delay="0.6s">Publications</h1>
		</div>
		<div class="col-md-8">

			{% for publication in publications %}
				<div class="paper">
					<a href="{{ publication.lien }}">
						<h4 style="color: #6a6a6a;">{{ publication.titre }}</h4>
					</a>
					<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Auteurs : </span> {{ publication.auteurs }}</p>
					<p style="padding: 10px 0;"><span style="color: #343434; font-size: 1.8rem; font-weight: bold;">Abstract : </span> {{ publication.abstract }}</p>
				</div>
				{% if not forloop.last %}<hr>{% endif %}
			{% endfor %}
			<div style="width: 100%; text-align: center;" data-wow-delay="0.9s">
				<a href="#" class="skills-link">Voir plus ...</a>
			</div>
		</div>
	</section>
</div>
<!-- End publication -->

<!-- start contact -->
<div id="contact" class="colored-band" style="padding-left: 30px;  padding-right: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
				<address>
					<p class="contact-title" style="color: #630929;">MES CONTACTS</p>
					<p><i class="fa fa-phone"></i> {{site.phone}}</p>
					<p><i class="fa fa-envelope"></i> {{site.email}}</p>
					<p><i class="fa fa-map-marker"></i> {{site.adresse}}</p>
				</address>
			</div>
			<div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s" >
				<form role="form" method="post" action="#">
				 {% csrf_token %}
					<input name="name" type="text" class="form-control" id="name" placeholder="Votre Nom"    v-model='name'>
					<input name="email" type="email" class="form-control" id="email" placeholder="Votre Email"    v-model='email'>
					<textarea name="message" rows="5" class="form-control" id="message" placeholder="Votre Message"    v-model='message'></textarea>
					<input name="send" type="submit" @click.prevent="postData" class="form-control" id="form-submit" value="ENVOYER">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end contact -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script type="text/javascript">
	$('.parallax-window').parallax({imageSrc: "{% static 'images/banner.jpg' %}"});
</script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<script type="text/javascript">
        $(document).ready(function() {

            // navigation click actions 
            $('.scroll-link').on('click', function(event){
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop:0}, 'slow');         
            });
            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
        // scroll function
        function scrollToID(id, speed){
            var offSet = 0;
            var targetOffset = $(id).offset().top - offSet;
            var mainNav = $('#main-nav');
            $('html,body').animate({scrollTop:targetOffset}, speed);
            if (mainNav.hasClass("open")) {
                mainNav.css("height", "1px").removeClass("in").addClass("collapse");
                mainNav.removeClass("open");
            }
        }
        if (typeof console === "undefined") {
            console = {
                log: function() { }
            };
        }
    </script>

    <script>
      new Vue(
        {
          el:'#contact',
          data:{
            name:'',
            email:'',
            message:'',
            url:"{% url 'checkup' %}"
          },
          methods:{
            postData(){
              if (this.name === '' || this.email === '' || this.message === ''){
                swal.fire({
                  icon:'error',
                  text:'Veuillez remplir les champs vides',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else if (!/[A-Za-z'éèöïäëû ]+/.test(this.name)){
                swal.fire({
                  icon:'error',
                  text:'Veuillez saisir un nom valide',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else if (!/(\w\.?)+@(\w\.?)+\.[A-Za-z]{2,3}/.test(this.email)){
                swal.fire({
                  icon:'error',
                  text:'Veuillez saisir un email valide',
                  showConfirmButton:false,
                  timer:2000,
                })
              }
              else{
                axios.defaults.xsrfHeaderName = 'X-CSRFToken'
                axios.defaults.xsrfCookieName = 'csrftoken'
                
                let form = new FormData()

                form.append('name', this.name)
                form.append('email', this.email)
                form.append('message', this.message)
                
                axios.post(this.url, form).then((response) => {
                  if (response.data.success){
                    swal.fire({
                      icon:'success',
                      text:response.data.text,
                      showConfirmButton:false,
                      timer:2000,
                    }).then(()=>{
                      window.location.reload()
                    })
                  }
                  else {
                    swal.fire({
                      icon:'error',
                      text:response.data.text,
                      showConfirmButton:false,
                      timer:2000,
                    })
                  }
                }).catch((e) => {
                  console.log(e)
                })
                
              }
            }
          },
          delimiters: ['%{', '}']
        }
      )
    </script>



{% endblock %}